body {
    padding-top: 60px;
}


.div-for-the-header {
    background-color: rgb(19, 25, 33);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1fr;
    height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    border-top-left-radius: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.imag {
    width: 100px;
    height: 30px;
    cursor: pointer;
    padding: 5px;
}

.imag:hover {
    border-style: solid;
    border-width: 1px;
    border-color: white;
   
}

.image {
    width: 50px;
}

.search-section {
    display: flex;
    justify-content: center;
    align-items: top;
    width: 1fr;
    margin-left: 90px;
    margin-right: 200px;
}

.search-box {
    width: 800px;
    height: 40px;
    border: none;
    padding-left: 15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.search-icon {
    height: 18px;
    padding: 3px 3px 2px 3px;

}

.btn {
    background-color: rgb(254, 189, 105);
    color: black;
    border: none;
    height: 42px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
}

.return-order {
    margin-right: 10px;
}

.return {
    font-weight: bold;
}

.notification {
    position: relative;
}

.notification_icon {
    position: absolute;
    top: 0;
    right: 50px;
    color: rgb(240, 136, 4);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}